#who is creating tables?
creator
alex shirey

#db to use
database
imp_sample123

#data in HDFS
city_data_dir
/data/city

bid_data_dir
/data/bid

udf_lib
hdfs://sandbox.hortonworks.com:8020/data/lib/max_usage.jar

#HQLs to execute

#init tables and load data
00_hql
./hql/query_00_init_tables_load_data.hql

#Create custom UDF function
01_hql
./hql/query_01_create_function.hql

#Find most popular device, browser, OS for each city using custom UDF.
02_hql
./hql/query_02_max_usage.hql